<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %> </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <figure>
        <img src="/img/Pelicula.webp" alt="Pelicula">
    </figure>
    <h1><%= title %></h1>
    <p>Bienvenidos a <%= title %></p>
    <p><a href="/movies">Listado de Peliculas</a></p>
</body>
</html>